@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components{
  @responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

ul {
  padding-left: 2vw;
}

li {
  list-style: circle;
  margin-top: 3px;
  margin-bottom: 3px;
}
